body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


.slider-wrapper {
  display: inline-block;
  width: 20px;
  height: 150px;
  padding: 0;
}

.slider-wrapper input {
  width: 150px;
  height: 20px;
  margin: 0;
  transform-origin: 75px 75px;
  transform: rotate(-90deg);
}

.volumeRight {
  float: right;
}

/*.volumeLeft {
  float: left;
}*/

.resultBottom {
  margin-left: 200px;
  margin-right: 200px;
}

.save-button {
  margin-top: 25px;
  float: bottom;
  text-align: center;
}
