body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  height: 100%;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


.slider-wrapper {
  display: inline-block;
  width: 20px;
  height: 150px;
  padding: 0;
}

.search-bar {
  position: center;
}

.button-group {
  background: transparent !important;
  background-size: cover;
  color: black;
  margin-top: 30px;
}

.mixer-container {
  background-image: url('https://s-media-cache-ak0.pinimg.com/originals/55/0b/f6/550bf603d8cb680e051b65a6fc65542a.jpg') !important;
  background-size: cover;
}

.loginPage {
  background-image: url("http://d279m997dpfwgl.cloudfront.net/wp/2017/05/0510_jarre-show.jpg");
  height: 1000px;
}

.player-container {
  background: transparent !important;
  background-size: cover;
}

.slider-wrapper input {
  width: 150px;
  height: 20px;
  margin: 0;
  transform-origin: 75px 75px;
  transform: rotate(-90deg);
}

.volumeRight {
  float: right;
}

.speedRight {
  float: right;
}

.facebook {
    -moz-user-select: none;
    background: #2A49A5;
    border: 1px solid #082783;
    box-shadow: 0 1px #4C6BC7 inset;
    color: white;
    padding: 3px 5px;
    text-decoration: none;
    text-shadow: 0 -1px 0 #082783;
    font: 12px Verdana, sans-serif;
}

/*.volumeLeft {
  float: left;
}*/

/*#tickmarks {
  display: inline-block;
  text-align: right;
}*/

.center {
  text-align: center;
}

.loginForm {
  margin-top: 150px;
}

.resultBottom {
  margin-left: 200px;
  margin-right: 200px;
}

.save-button {
  float: top;
  text-align: center;
}

.play-icon {
  margin-top: 10px;
  text-align: center;
}

.disk {
  margin-bottom: 5px;
}

.cross-fader {
  float: center;
  text-align: center;
}

.header {
  font-family: 'Plaster', cursive;
  font-size: 25px;
  margin-bottom: 0px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}


.landing {
  height: 100%;
}

.nav {
  margin-bottom: 0px !important;
}

.landingResult {
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 100px;
}

.parallax {
    /* The image used */
    background-image: url("http://d279m997dpfwgl.cloudfront.net/wp/2017/05/0510_jarre-show.jpg");

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
